:root {
  /* Colors */
  --clr-green_main: #47ad11;
  --clr-green_mid: #30770b;
  --clr-green_dark: #3d950f;
  --clr-orange_main: #f58b0e;
  --clr-orange_secondary: #fcd825;
  --clr-purple_main: #471ae5;
  --clr-white_main: #ffffff;

  /* Gradients */
  --gradient-green_top: linear-gradient(#245709, #47ad11);
  --gradient-green_bottom: linear-gradient(#47ad11, #245709);

  /* Box shadow */
  --bs-green: 0 3px 6px #47ad11;
  --bs-orange: 0 3px 6px #f58b0e;
  --bs-purple: 0 3px 6px #471ae5;

  /* Text colors */
  --txt-clr_main: #393058;
  --txt-clr_light: #ffffff;

  /* Font sizes */
  --fs-H1: 3rem;
  --fs-H2: 2.5rem;
  --fs-H3: 1.9rem;
  --fs-H4: 1.25rem;

  --fs-text_main: 1.3rem;
  --fs-text_smaller: 1rem;

  /* Font family */
  --ff-headings_main: "Poppins", "Roboto Flex", Verdana, Geneva, Tahoma,
    sans-serif;
  --ff-text_main: "Roboto Flex", "Poppins", Verdana, Geneva, Tahoma, sans-serif;

  /* Font weight */
  --fw-headings: 500;
  --fw-text_main: 400;
  --fw-text_light: 300;

  /* Border-radius */
  --br-main: 20px;
  --br-left: 20px 0 0 20px;
  --br-right: 0 20px 20px 0;
  --br-top: 20px 20px 0 0;
  --br-bottom: 0 0 20px 20px;

  /* Margins */
  --mb-H1: 6rem;
  --mb-H2: 2rem;
  --mb-H3: 2rem;
  --mb-H4: 1rem;
  --mb-sections: 6rem;
  --mt-H1: 6rem;
  --mt-footer: 10rem;
}

/*******************************************************************/
/* GLOBAL/REUSABLE CSS */
/*******************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centered containers */

.container_1600 {
  max-width: 100rem;
  margin: 0 auto;
}

.container_1200 {
  max-width: 75rem;
  margin: 0 auto;
}

/* Flexbox */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container_nowrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Headings */
.primary-heading {
  font-family: var(--ff-headings_main);
  font-size: var(--fs-H1);
  font-weight: 500;
  color: var(--txt-clr_main);
}

.secondary-heading {
  font-family: var(--ff-headings_main);
  font-size: var(--fs-H2);
  font-weight: var(--fw-headings);
  color: var(--txt-clr_main);
  /* margin-bottom: var(--mb-H2); */
}

.tertiary-heading {
  font-family: var(--ff-headings_main);
  font-size: var(--fs-H3);
  font-weight: var(--fw-headings);
  margin-bottom: var(--mb-H3);
}

.quaternary-heading {
  font-family: var(--ff-headings_main);
  font-size: var(--fs-H4);
  font-weight: var(--fw-headings);
  margin-bottom: var(--mb-H4);
}

/* Text */
.text {
  font-family: var(--ff-text_main);
  font-size: var(--fs-text_main);
  font-weight: var(--fw-text_main);
  line-height: 1.4;
  color: var(--txt-clr_main);
}

.text_small {
  font-family: var(--ff-text_main);
  font-size: var(--fs-text_smaller);
  font-weight: var(--fw-text_light);
}

/* Border-radius + box-shadows*/

.purple-style {
  box-shadow: var(--bs-purple);
  border-radius: var(--br-main);
}

.green-style {
  box-shadow: var(--bs-green);
  border-radius: var(--br-main);
}

.orange-style {
  box-shadow: var(--bs-orange);
  border-radius: var(--br-main);
}

/* HEADER */

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: var(--gradient-green_top);
  padding: 1rem 2rem;
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-list li {
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--clr-white_main);
  font-family: var(--ff-text_main);
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-link:active,
.nav-link:hover {
  color: #f9cc98;
  text-decoration: underline;
}

.current:link,
.current:visited,
.current:active,
.current:hover {
  text-decoration: underline;
}

.toggle-label {
  display: none;
}

.toggle {
  display: none;
} */

/* Header */

.header {
  background-image: var(--gradient-green_top);
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
}

.logo {
  height: 8rem;
}

.nav-list {
  gap: 2rem;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: var(--txt-clr_light);
  font-family: var(--ff-headings_main);
  font-size: var(--fs-H3);
  display: block;
  position: relative;
}

.nav-list a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--clr-orange_secondary);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-list a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-list li a:active {
  color: var(--clr-orange_secondary);
}

.nav-list li a.current:link,
.nav-list li a.current:visited,
.nav-list li a.current:hover,
.nav-list li a.current:active {
  color: var(--clr-orange_secondary);
}

.toggle-icon {
  font-size: var(--fs-H3);
  color: var(--txt-clr_light);
  padding-right: 2rem;
  display: none;
}

.menu-checkbox {
  display: none;
}

/* Footer */

.section-footer {
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
  background-image: var(--gradient-green_bottom);
  padding: 3rem 2rem 1rem 2rem;
  border-radius: var(--br-top);
  margin-top: var(--mt-footer);
}

.logo-address-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.address-container {
  flex-direction: column;
}

.hours-container {
  justify-content: space-between;
  gap: 0.5rem;
}

.hours-heading,
.social-heading {
  color: var(--txt-clr_light);
  text-align: center;
}

.address-txt,
.hours-txt,
.day,
.hours {
  color: var(--txt-clr_light);
  line-height: 1.5;
}

.icon {
  height: 4rem;
}

/* CTA */

.cta:link,
.cta:visited {
  color: var(--clr-white_main);
  background-image: var(--gradient-green_bottom);
  font-family: var(--ff-headings_main);
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.cta:hover {
  color: var(--clr-white_main);
  border: 2px solid var(--clr-green_dark);
  background-color: #fff;
  box-shadow: 2px 4px 6px var(--clr-green_main);
  transition: 0.1s ease-in;
  transform: scale(1.3);
}

.cta:active {
  color: var(--clr-white_main);
  border: 2px solid var(--clr-green_dark);
  background-color: var(--clr-green_mid);
  padding: 0.3rem 1.1rem;
}

/*******************************************************************/
/* HOMEPAGE */
/*******************************************************************/

/* Hero section */

.section-hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(/resources/images/Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  height: 90vh;
  margin-bottom: var(--mb-sections);
}

.hero-heading-container {
  /* position: absolute; */
  /* top: 75%;
  left: 50%; */
  /* transform: translate(-50%); */
  text-align: center;
  padding: 1rem;
  backdrop-filter: blur(10px);
  margin-bottom: 5%;
}

.hero-heading {
  color: var(--txt-clr_light);
}

/* Explore section */

.section-explore {
  margin-bottom: var(--mb-sections);
}

.explore-h2 {
  text-align: center;
  margin-bottom: var(--mb-H2);
}

.explore-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.explore-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 25rem;
  height: 30rem;
  background-position: center;
  background-size: cover;
}

.ec1 {
  background-image: url(../resources/images/kids_in_science_1.jpg);
}

.ec2 {
  background-image: url(../resources/images/teacher_1.jpg);
}

.ec3 {
  background-image: url(../resources/images/researcher_1.jpg);
}

.explore-link:link,
.explore-link:visited {
  background-color: #ffffffca;
  text-decoration: none;
  font-family: var(--ff-headings_main);
  font-size: var(--fs-H3);
  color: var(--txt-clr_main);
  border-radius: var(--br-main);
  padding: 1rem;
  margin-bottom: 1rem;
}

.explore-link:active,
.explore-link:hover {
  color: var(--txt-clr_light);
  background-color: var(--txt-clr_main);
}

/* Special events and exhibitions */

.specials-H2 {
  text-align: center;
  margin-bottom: var(--mb-H2);
}

.specials-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.specials-img {
  max-width: 25rem;
  border-radius: var(--br-left);
}

.specials-img-reverse {
  border-radius: var(--br-right);
}

.specials-txt-container {
  max-width: 44rem;
}

.specials-H3 {
  text-align: center;
}

.specials-txt {
  font-size: 20px;
  padding: 0 2.5rem 0 2.5rem;
}

/*******************************************************************/
/* EXHIBITIONS PAGE */
/*******************************************************************/

.exhib-H1 {
  text-align: center;
  margin-top: var(--mt-H1);
  margin-bottom: var(--mb-H1);
}

.cosmology,
.evolution,
.biology_medicine,
.robotics_ai,
.ecology {
  gap: 1rem;
  margin-bottom: 5rem;
}

.exhib-img {
  max-width: 34rem;
}

.exhib-txt-cont {
  display: flex;
  flex-direction: column;
  max-width: 34rem;
  padding: 1rem 2rem;
}

.exhib-H2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.exhib-text {
  padding: 0 2rem;
}

/*******************************************************************/
/* VISIT PAGE */
/*******************************************************************/

.visit-H1 {
  text-align: center;
  margin-top: var(--mt-H1);
  margin-bottom: var(--mb-H1);
}

.visit-card-row_1 {
  margin-bottom: 4rem;
}

.visit-card-row_1,
.visit-card-row_2 {
  column-gap: 4rem;
  row-gap: 4rem;
  justify-content: center;
}

.visit-card {
  width: 24rem;
  /* flex: 1; */
  border-radius: var(--br-main);
  overflow: hidden;
}

.visit-img {
  width: 100%;
  height: 17rem;
  background-position: center;
  background-size: cover;
}

.vc-img_1 {
  background-image: url(../resources/images/map.jpg);
}

.vc-img_2 {
  background-image: url(../resources/images/admission.jpg);
}

.vc-img_3 {
  background-image: url(../resources/images/hours.jpg);
}

.vc-img_4 {
  background-image: url(../resources/images/accessibility.jpg);
}

.vc-img_5 {
  background-image: url(../resources/images/cafe.jpg);
}

.vc-img_6 {
  background-image: url(../resources/images/shop.jpg);
}

.vc-H2 {
  text-align: center;
  background-color: var(--clr-green_dark);
  color: var(--clr-white_main);
}

.vc-text-container {
  padding: 2rem;
}

/*******************************************************************/
/* GET INVOLVED PAGE */
/*******************************************************************/

.involved-H1 {
  text-align: center;
  margin-bottom: var(--mb-H1);
  margin-top: var(--mt-H1);
}

.involved-flex-cont {
  justify-content: center;
  gap: 2rem;
}

.involved-img-container {
  width: 31rem;
  height: 21rem;
  background-position: center;
  background-size: cover;
}

.involved-text-container {
  width: 31rem;
  height: 21rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.involved-H2 {
  text-align: center;
  margin-top: 1rem;
  /* margin-bottom: var(--mb-H2); */
}

.involved-text {
  padding: 0rem 2rem 2rem 2rem;
  font-size: 1rem;
}

.support-container,
.volunteer-container {
  margin-bottom: 3rem;
}

.support-img {
  background-image: url(../resources/images/support.jpg);
}

.volunteer-img {
  background-image: url(../resources/images/volunteer.jpg);
}

.internship-img {
  background-image: url(../resources/images/internship.jpg);
}

/*******************************************************************/
/* ABOUT PAGE */
/*******************************************************************/

.about-H1 {
  margin-top: var(--mt-H1);
  margin-bottom: var(--mb-H1);
  text-align: center;
}

.about-card {
  justify-content: center;
  gap: 2rem;
}

.ac_1,
.ac_2 {
  margin-bottom: 4rem;
}

.ac_2 {
  flex-wrap: wrap-reverse;
}

.about-img {
  width: 31rem;
  height: 21rem;
  border-radius: var(--br-main);
  background-position: center;
  background-size: cover;
}

.about-img_1 {
  background-image: url(../resources/images/about_1.jpg);
}

.about-img_2 {
  background-image: url(../resources/images/about_2.jpg);
}

.about-img_3 {
  background-image: url(../resources/images/about_3.jpg);
}

.about-text {
  /* width: 31rem; */
  /* height: 21rem; */
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  max-width: 31rem;
}

/*******************************************************************/
/* CONTACT PAGE */
/*******************************************************************/

.contact-body {
  background-image: url(../resources/images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  backdrop-filter: blur(4px);
}

.contact-H1 {
  margin-top: var(--mt-H1);
  margin-bottom: var(--mb-H3);
  text-align: center;
}

.form-flex-container {
  flex-direction: column;
  flex-wrap: nowrap;
}

fieldset {
  background-image: var(--gradient-green_top);
  color: var(--clr-white_main);
  font-size: var(--fs-H4);
  font-family: var(--ff-headings_main);
  border: solid 2px var(--txt-clr_main);
  border-radius: var(--br-main);
  max-width: 37.5rem;
  min-width: 24rem;
  padding: 1rem 3rem;
  margin: 0 auto;
}

.contact-label {
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  text-align: center;
}

.input,
textarea {
  padding: 1rem;
  border-radius: var(--br-main);
  font-family: var(--ff-text_main);
  font-size: var(--fs-H4);
  width: 100%;

  min-width: 20rem;
}

textarea {
  max-width: 100%;
}

input::placeholder,
option::placeholder,
textarea::placeholder {
  color: var(--txt-clr_main);
  font-family: var(--ff-text_main);
  font-size: var(--fs-H4);
}

/* .submit-cta {
  cursor: pointer;
  width: 100%;
  font-size: var(--fs-H3);
  color: var(--txt-clr_main);
  background-color: var(--clr-white_main);
  background-position: center;
  transition: background 0.1s;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border: none;
}

.submit-cta:hover {
  border: 2px solid var(--clr-white_main);
  background-color: var(--clr-green_mid);
  color: var(--clr-white_main);
  transform: scale(0.98);
}

.submit-cta:active {
  transform: scale(0.9);
  border: 3px solid var(--txt-clr_light);
} */

.submit-cta {
  width: 100%;
  margin-top: 2rem;
  color: var(--txt-clr_main);
  background-color: var(--clr-white_main);
  border: 2px solid var(--clr-white_main);
  font-family: var(--ff-headings_main);
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.submit-cta:hover {
  background-image: var(--gradient-green_bottom);
  color: var(--clr-white_main);
  border: 2px solid var(--clr-white_main);
  transition: 0.1s ease-in;
  transform: scale(1.1);
}

.submit-cta:active {
  border: 2px solid var(--clr-white_main);
  transform: scale(0.9);
}

/*******************************************************************/
/*FOR KIDS PAGE + Shared styling for  FOR TEACHERS PAGE and RESEARCHERS PAGE*/
/*******************************************************************/

.explore-H1 {
  margin-top: var(--mt-H1);
  margin-bottom: var(--mb-H1);
  text-align: center;
}

.explore-feature-container {
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
  gap: 2rem;
}

.explore-feature-text {
  min-width: 23rem;
  /* margin-bottom: 2rem; */
}

.explore-feature-images {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.explore-feature-image {
  width: 23rem;
  height: 25rem;
  background-position: center;
  background-size: cover;
  margin-top: 2rem;
}

.feat-img_kids1 {
  background-image: url(../resources/images/kids_in_science_2.jpg);
}

.feat-img_kids2 {
  background-image: url(../resources/images/kids_in_science_3.jpg);
}

.feat-img_kids3 {
  background-image: url(../resources/images/kids_in_science_4.jpg);
}

.explore-contact-btn {
  text-align: center;
  margin-top: 2rem;
}

/*******************************************************************/
/*FOR TEACHERS PAGE*/
/*******************************************************************/

.feat-img_teacher1 {
  background-image: url(../resources/images/teacher_2.jpg);
}

.feat-img_teacher2 {
  background-image: url(../resources/images/teacher_3.jpg);
}

.feat-img_teacher3 {
  background-image: url(../resources/images/teacher_4.jpg);
}

/*******************************************************************/
/*FOR TEACHERS PAGE*/
/*******************************************************************/

.feat-img_researcher1 {
  background-image: url(../resources/images/researcher_2.jpg);
}

.feat-img_researcher2 {
  background-image: url(../resources/images/researcher_3.jpg);
}

.feat-img_researcher3 {
  background-image: url(../resources/images/researcher_4.jpg);
}
